@model R6Tracker.Models.RootObject
@{
    ViewBag.Title = "Profile";
}

<section>
    <h1>Profile</h1>
    <div class="container">
        @if (Model.Results != null)
        {
            foreach (var item in Model.Results.Take(1))
            {
                <h1 class="username">@item.P_name</h1>
                <div class="grid">
                    <div>
                        <img id="random" src="" alt="" />
                    </div>
                    <div>
                        <ul>

                            <li>
                                <h4>Level</h4>
                                <p>@item.P_level</p>
                            </li>
                            <li>
                                <h4>K/d Ratio</h4>
                                <p>
                                    @{
                                        @item.Kd
                                    }
                                </p>
                            </li>
                            <li>
                                <h4>Rank/MMR</h4>
                                <p>
                                    @item.P_currentrank
                                    <span>(@item.P_currentmmr)</span>
                                </p>
                            </li>
                            <li>
                                <h4>Platform</h4>
                                <p>@item.P_platform</p>
                            </li>
                        </ul>
                    </div>
                </div>
            }
        }
        else
        {
            <h1>Profile not found</h1>
        }
    </div>
</section>
@Html.ActionLink("Go Back", "Index", null, new { @class = "btn" })

<script type="text/javascript">
    $(document).ready(function () {

        var image = new Array();
        image[0] = '@Url.Content("~/Content/Images/ash.png")';
        image[1] = '@Url.Content("~/Content/Images/iq.png")';
        image[2] = '@Url.Content("~/Content/Images/hibana.png")';
        image[3] = '@Url.Content("~/Content/Images/sledge.png")';
        image[4] = '@Url.Content("~/Content/Images/castle.png")';
        image[5] = '@Url.Content("~/Content/Images/clash.png")';
        image[6] = '@Url.Content("~/Content/Images/goyo.png")';
        image[7] = '@Url.Content("~/Content/Images/mute.png")';
        image[8] = '@Url.Content("~/Content/Images/smoke.png")';
        image[9] = '@Url.Content("~/Content/Images/alibi.png")';
        image[10] = '@Url.Content("~/Content/Images/gridlock.png")';
        image[11] = '@Url.Content("~/Content/Images/maestro.png")';
        var size = image.length
        var x = Math.floor(size * Math.random())

        $("#random").attr("src", image[x]);

    });
</script>

<style scoped>
    .container {
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        max-width: 700px;
        margin: 1rem auto;
        padding: 2rem 1.5rem;
        border-radius: 20px;
    }

    h1.username {
        font-size: 2rem;
        background: rgba(0, 0, 0, 0.6);
        padding: 0.3rem 0.5rem;
        text-align: center;
        border-radius: 20px;
        margin-bottom: 3rem;
        display: flex;
        align-items: center;
    }

    a {
        display: inline-block;
        margin-top: 2rem;
        border: #fff 2px solid;
        padding: 0.5rem 0.8rem;
    }

        a:hover {
            border: #ccc 2px solid;
            color: #ccc;
        }

    .platform-avatar {
        width: 40px;
        margin-right: 0.7rem;
    }

    img {
        width: 100%;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }

    li {
        background: rgba(0, 0, 0, 0.6);
        padding: 1rem;
        margin-bottom: 0.7rem;
        border-radius: 10px;
    }

        li p {
            font-size: 2rem;
        }

        li:first-child p {
            font-size: 1.5rem;
        }

        li span {
            font-size: 1rem;
            color: #ccc;
        }

    @@media (max-width: 500px) {
        h1 {
            font-size: 1.5rem;
            display: block;
            text-align: center;
        }

        .platform-avatar {
            display: none;
        }

        .grid {
            grid-template-columns: 1fr;
        }

        li p {
            font-size: 1.5rem;
        }
    }
</style>